<div class="box-form">
  <nav>
    <a href="/auth/logout"><button type="button" class="btn btn-secondary">Logout</button></a>
  </nav>
  <div class='content-box'>
    <h3>An Email has been sended to:</h3>
    <h4>{{mail}}</h4>
    <p>Check for active ur acount</p>

    <div>
      <img
        src="https://media2.giphy.com/media/5k71ca3fHpYGs/giphy.gif?cid=790b761122b8aed1f9647a8c1184c28f38b2b5f5778a775c&rid=giphy.gif"
        alt="">
    </div>

  </div>
</div>