<div class="box-form">
  <nav>
    <a href="/auth/login"><button type="button" class="btn btn-success">Login<button></a>
    <a href="/auth/signup"><button type="button" class="btn btn-info">Signup</button></a>
  </nav>

<h1>{{title}}</h1>
</div>